@charset "utf-8";

body {
  cursor: url('img/estrella_cursor_24x24.svg') 10 10, auto;
}

/* Header */
header {
    display: flex;
    height: 15px;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.contenedor {
    display: flex;
    height: 93px;
    justify-content: space-between;
    aspect-ratio: 1400/93;
}

.logo {
    width: 140px;
    height: 93px;
}

header nav a {
  color: black; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

header nav a:hover {
  color: white; 
  background: #C30606; 
  padding: 15px;
  border-radius: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "Sofia Sans Extra Condensed";
}

a {
    color: black;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
}

/*Index */
.main_index {
    height: 1000px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.nombre {
    line-height: 0.9;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 150px;
    font-weight: 300;
}

h2 {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 320px;
}

.foto {
    position: absolute;
    top: 310px;
}

.estrellalila {
    position: absolute;
    margin-left: 310px;
    top: 70px;
    animation: rotar 10s linear infinite;
}

.estrellaroja {
    position: absolute;
    margin-left: -450px;
    top: 300px;
    animation: rotar 10s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Footer */
.contacto {
    display: flex;
    height: 180px;
    justify-content: center;
    gap: 150px;
    background: #635795;
}

.item {
    display: flex;
    align-items: center;
    gap: 30px;
}

p {
    color: #FFF;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 26px;
    font-weight: 700;
}

.derechos {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: #C30606;
}

/* Contacto */

.contenedor_formulario {
    display: flex;
    column-gap: 60px;
    padding: 50px 100px;
    max-width: 1200px;
    margin: auto;
}


.zona-formulario {
    background-color: #F5ECE3;
    padding: 25px 50px 50px 50px;
    z-index: 30;
}

.items-formulario {
    display: flex;
    column-gap: 50px;
}

form {
    flex-direction: column;
    background-color: #A79ADD;
    padding: 50px 60px 30px 60px;
    border-radius: 80px;
}

label {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 26px;
    color: white;
}


input {
    padding: 10px;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 20px;
    border: none;
    margin: 5px 0 30px 0;
    width: 260px;
    border-radius: 25px;
}

textarea {
    padding: 10px 0 50px 10px;
    margin: 5px 0 20px 0;
    border: none;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 20px;
    border-radius: 25px;

}

.mensaje-form {
    display: flex;
    flex-direction: column;
}

.boton-enviar {
    display: flex;
    justify-content: flex-end;
}

.submit {
    font-size: 22px;
    color: white;
    background-color: #CC0000;
    justify-content: center;
    width: 18%;
}

.titulo_form {
    font-size: 70px;
    padding: 50px;
}

/*curriculum*/

.main_cv {
    display: flex;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}
  
.izquierda {
    width: 70%;
}

.caja {
    background: #635795;
    border-radius: 50px;
    padding: 25px;
    margin: 20px;
    padding-left: 30px;
}

.titulos {
    font-size: 30px;
    color: white;
    margin: 100px 0 10px;
    padding-top: 20px;
    margin-top: 0;

}

.caja ul li {
    margin-bottom: 12px;
}

ul {
    font-family: Roboto;
    list-style: none;
    padding-left: 30px;
    margin: 5px 0 20px;
    color: white;
}


ul ul {
    padding-left: 20px;
    font-size: 17px;
    color: white;
    margin-top: 5px;
}

.temas {
    font-size: 19px;
    color: white;
    font-weight: bold;
}

/* COLUMNA DERECHA */
.derecha {
    width: 30%;
}

.otros {
    color: white;
    margin-top: 20px;
    background: black;
    border-radius: 50px;
    padding: 30px;
    padding-top: 55px;
}    

.otros li {
    margin-bottom: 12px;
}

.otros h3 {
    font-size: 25px;
    margin: -20px 0 22px;
    font-family: "Sofia Sans Extra Condensed";
    padding-top: 20px;
}

.otros p {
    font-family: Roboto;
    color: white;
    font-size: 20px;
}

/*sobre mi*/

.seccion-sobremi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.texto-sobremi h2 {
    font-size: 205px;
    margin-left: 40px;
}

.texto-sobremi p {
    width: 474px;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
}

/*trabajos html*/
.main_trabajo {
    background-color: #000;
}

.trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.trabajos h1 {
    color: #FFF;
    font-size: 110px;
    font-weight: 700;
    margin-top: 140px;
    margin-right: 470px;
}

.cont_trabajo {
    display: flex;
    width: 377px;
    height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FFF;
}

.cont_trabajo a {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 32px;
}

.cont_trabajo {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.cont_trabajo:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 10px 20px white(0, 0, 0, 0.2);
  background-color: #A79ADD;
}

.cont_trabajo:hover a {
  color: white; 
  text-decoration: underline;
  background: #CC0000;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
}

.cuerpo {
    width: 277px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}

.arriba {
    display: flex;
    gap: 61px;
}

.a_bajo {
    display: flex;
    gap: 61px;
    margin-bottom: 140px;
}

