@charset "utf-8";

/* Header */
header {
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    height: 93px;
    justify-content: space-between;
    aspect-ratio: 1400/93;
}

.logo {
    width: 140px;
    height: 93px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "Sofia Sans Extra Condensed";
}

a {
    color: black;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
}

/*Index */
.main_index {
    height: 1000px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
}

.nombre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    line-height: 0.9;
}

h1, h2 {
    margin: 0;
    padding: 0;
    line-height: 0.9;
}

h1 {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 150px;
    font-weight: 300;
}

h2 {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 320px;
}

.foto {
    position: absolute;
    top: 310px;
}

.estrellalila {
    position: absolute;
    margin-left: 310px;
    top: 70px;
    animation: rotar 10s linear infinite;
}

.estrellaroja {
    position: absolute;
    margin-left: -450px;
    top: 300px;
    animation: rotar 10s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Footer */
.contacto {
    display: flex;
    height: 180px;
    justify-content: center;
    gap: 150px;
    background: #635795;
}

.item {
    display: flex;
    align-items: center;
    gap: 30px;
}

p {
    color: #FFF;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 26px;
    font-weight: 700;
}

.derechos {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: #C30606;
}

/* Main - Contacto */

.contenedor_formulario {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 100px;
}

.pregunta_formulario {
    flex: 1;
    max-width: 40%;
    z-index: 10;
}

.formulario {
    flex: 1;
    max-width: 60%;
}

.zona-formulario {
    background-color: #F5ECE3;
    padding: 25px 50px 50px 50px;
    z-index: 30;
}

.items-formulario {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #A79ADD;
    padding: 50px 60px 30px 60px;
    box-sizing: border-box;
    border-radius: 80px;
}

label {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 17px;
    font-weight: 400;
    color: white;
}

.columna-izq-form, .columna-der-form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 15px;
    font-weight: 400;
    border: none;
    margin: 5px 0 30px 0;
    background-color: white;
    width: 260px;
    border-radius: 25px;
}

textarea {
    padding: 10px 0 50px 10px;
    margin: 5px 0 20px 0;
    border: none;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    background-color: white;
    border-radius: 25px;
}

.mensaje-form {
    display: flex;
    flex-direction: column;
}

.boton-enviar {
    display: flex;
    justify-content: flex-end;
}

.submit {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 22px;
    font-weight: 400;
    color: white;
    background-color: #CC0000;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 5px 25px 6px 25px;
    width: 18%;
}

.titulo_form {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 70px;
    font-weight: 700;
    color: black;
    padding: 100px 20px 50px 100px;
    margin-right: 20px;
    max-width: 60%;
}

/*curriculum*/

.main_cv {
    display: flex;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}
  
.izquierda {
    width: 70%;
}

.caja {
    background: #635795;
    border-radius: 50px;
    padding: 25px;
    margin: 20px;
    padding-left: 30px;
}

.titulos {
    font-size: 30px;
    color: white;
    margin: 40px 0 10px;
    font-family: "Belleza", sans-serif;
    padding-top: 20px;
    margin-top: 0; 
    border-bottom: 1px #635795 solid;
}

.caja ul li {
    margin-bottom: 12px;
}

ul {
    font-family: "Montserrat", sans-serif;
    list-style: none;
    padding-left: 0;
    margin: 5px 0 20px;
    color: white;
}

ul ul {
    padding-left: 20px;
    font-size: 17px;
    color: white;
    margin-top: 5px;
}

.temas {
    font-size: 19px;
    color: white;
    font-weight: bold;
}

/* COLUMNA DERECHA */
.derecha {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.otros {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 20px;
    background-color: #A79ADD;
    border-radius: 50px;
    padding: 30px;
    padding-top: 55px;
}    

.otros li {
    margin-bottom: 12px;
}

.otros h3 {
    font-size: 25px;
    margin: -20px 0 22px;
    font-family: "Belleza", sans-serif;
    padding-top: 20px;
}

/*sobre mi*/
.seccion-sobremi {
    display: flex;
    flex: row;
    width: 1324px;
    height: 769px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.texto-sobremi h2 {
    font-family: "Sofia Sans Extra Condensed";
    font-size: 205px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-sobremi p {
    width: 474px;
    height: 322px;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*trabajos html*/
.main_trabajo {
    background-color: #000;
}

.trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.trabajos h1 {
    color: #FFF;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 140px;
    margin-right: 360px;
}

.cont_trabajo {
    display: flex;
    width: 377px;
    height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    border-radius: 40px;
    background: #FFF;
}

h3 {
    color: #000;
    text-align: center;
    font-family: "Sofia Sans Extra Condensed";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cuerpo {
    width: 277px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.arriba {
    display: flex;
    align-items: center;
    gap: 61px;
}

.a_bajo {
    display: flex;
    align-items: center;
    gap: 61px;
    margin-bottom: 140px;
}

